{% extends 'base.html' %}
{% block title %}代辦事項{% endblock %}
{% block content %}
    <h1>代辦事項</h1>
    <hr>
    {% if not todos %}
    <a href="{% url 'login' %}">請先登入或註冊!</a>
    {% endif %}
    
    {% for todo in todos %}
    <h2>{{todo.id}}</h2>
    <li> {{todo.created}}
    <div style="font-size: 2rem; font-weight: 400;">
        <a href="{% url 'viewtodo' todo.id %}"  >{{todo.title}}</a> {%if todo.important%} 
        <span style="color: red;">重要!!</span>
        {%endif%}
    </div>
    </li>
    <hr>
    
    {% endfor %}

{% endblock %}
   
